{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Seleccionar Tienda</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('select_store', next_page='pos') }}">
                        <input type="hidden" name="next_page" value="pos">
                        <div class="list-group">
                            {% for store in stores %}
                            <button type="submit" name="store_id" value="{{ store.id }}" class="list-group-item list-group-item-action text-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ store.name }}</h5>
                                </div>
                                <p class="mb-1">{{ store.address }}</p>
                            </button>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
